body {
    font-family: sans-serif;
    margin: 0;
}

h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 12px;
    
}

form {
    margin: 3rem auto;
    width: 90%;
    max-width: 90rem;
    padding: 1rem;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

button {
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
    background-color: rgb(39, 42, 223);
    color: white;
    border: 1px solid rgb(0, 3, 158);
    width: 15rem;
    position: relative;
    float: right;
}

button:hover,
button:active {
    background-color: rgb(40, 76, 236);
    border-color: rgb(22, 36, 238);
}

button a:link{
    text-decoration: none;
    color: azure;   
}

button a:hover{
    text-decoration: none;
    color: rgb(239, 240, 241);   
}

button a:visited{
    text-decoration: none;
    color: rgb(0, 250, 54);   
}

.form-control {
    margin-bottom: 1rem;
}

.form-control input {
    font: inherit;
    padding: 0.25rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    display: block;
    width: 40rem;
}

.form-control input:focus {
    border-color: rgb(70, 0, 102);
    outline: none;
    background-color:  rgb(240, 206, 255);
}

.form-control select {
    font: inherit;
    padding: 0.25rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    display: block;
    width: 40rem
}

.form-control label {
    font-weight: bold;
    display: block;
}

.errorlist {
    list-style: none;
    margin: 0.5rem 0;
    padding: 0;
    color: rgb(129, 0, 0);
}

.errors input{
    border-color:  rgb(129, 0, 0);
    background-color: rgb(255, 199, 199);
}

.errors label {
    color: rgb(129, 0, 0);
}

.table, th, td {
    width: 80rem;
    padding: 2px 2px;
    border-collapse: collapse;
  }

.table td {
    text-align: center;
    padding: 12px 2px;
}

.table tr:hover {
    background-color: #dfdfdf;
}

.table tr:nth-child(even) {background-color: #d4d4d4;}

.list-group {
    box-decoration-break: clone;
    list-style: none;
    margin: 1em;
    width: 90%;
    padding: 5px;
    font-family: Verdana, sans-serif;
    }.list-group ul, .list-group li {
        border-left: 5px solid rgb(113, 157, 240);
        background-color: #e4e4e4;
        list-style-type: none;
        padding: 10px 20px;
        border-bottom: 1px solid #ddd;
        margin: 0;
        color: rgb(65, 65, 65);
        font-weight: bold;
}
ul li:last-child {
    border-bottom: none
  }